@import 'node_modules/nhsuk-frontend/packages/nhsuk';

$brand: #003087;

// custom site header
.nhsuk-header{
    &--nhsx{
        background: $brand;
    }

    &__navigation{
        background: $brand;
    }
}

.nhsuk-hero--image-description .nhsuk-hero-content--nhsx{        
    background: $brand;
    .nhsuk-hero__arrow:before,
    .nhsuk-hero__arrow:after{
        border-color: $brand;
    }
}

// big intro text
.content-area:first-child {
    p:first-child{
        font-size: 1.1875rem;
        @media screen and (min-width: 641px){
            font-size: 1.5rem;
        }
    }

    p:last-child{
        margin-bottom: 24px;
    }
}


.nhsuk-section{

    &--white{
        background: white;
    }

    &__content{
        padding-bottom: 64px;
        padding-top: 64px;

        &> :last-child{
            margin-bottom: 0px;
        }
    }
}


.nhsuk-main-wrapper--homepage{
    padding-bottom: 0px;
}