@import 'node_modules/nhsuk-frontend/packages/nhsuk';

$brand: #003087;

// custom site header
.nhsuk-header{
    &--nhsx{
        background: $brand;
    }

    &__navigation{
        background: $brand;
    }
}

// big intro text
.content-area:first-child {
    p:first-child{
        font-size: 1.1875rem;
        @media screen and (min-width: 641px){
            font-size: 1.5rem;
        }
    }

    p:last-child{
        margin-bottom: 24px;
    }
}